<template>
    <div class="alert-flash w-25" v-show="show">
        <div class="alert alert-custom alert-notice"
            :class="'alert-light-' + level"
            role="alert"
        >
            <div class="alert-text" v-text="body"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["message", "levels"],

        data() {
            return {
                body: this.message,
                level: this.levels,
                show: false
            };
        },

        created() {
            if (this.message) {
                this.flash();
            }
        },

        methods: {
            flash() {
                this.showFlash();
                this.hide();
            },
            hide() {
                setTimeout(() => {
                    this.show = false;
                }, 5000);
            },
            showFlash() {
                setTimeout(() => {
                    this.show = true;
                }, 500);
            },
        }
    };
</script>

<style>
    .alert-flash {
        position: fixed;
        bottom: 25px;
        right: 25px;
    }
</style>
